<!DOCTYPE html>
<html ng-app="searchModule" class="ng-app:searchModule" id="ng-app">
<head>
    <title>MyMovie Search</title>
    <link rel="stylesheet" href="Style/styleSearch.css" >
    <link rel="stylesheet" href="Style/bootstrap.min.css">	
</head>
<body class="nhp" ng-controller="SearchController">
    <header class="clearfix" >
        <div class="logo">
            <a href="#" title="Internet movie database"><span class="shim"></span><img src="Images/logoImdb.jpg" alt="Internet movie database" border="0"></a>
        </div>
        <input id="iSearch" name="iSearch" type="text" ng-model="title" placeholder="Search Movies, TV Shows, and more..." class="input-xlarge search-query inputSearch">
        <button id="btnSearch" name="btnSearch" ng-click="search(10)" class="btn btn-primary">Search</button>
        <div class="span2 buttonUser">
            <div class="btn-group">
                <button type="button" class="btn btn-primary">
                    User</button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span><span class="sr-only">Actions</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="Favorites.html"><span class="glyphicon glyphicon-star"></span> Favorites</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="content">
        <br><br>
        <div class="container-fluid well span6" ng-init="getTopMovies(10)">
            <div class="row-fluid" ng-repeat="movie in movies">
                <div class="span2 imgMovie">
                   <img height="150" width="100" src={{movie.posters.profile}} class="img-circle" />
                 </div>
               <div class="span8">
                   <h3>Movie Title: {{movie.title}}</h3>
                    <h3>Year: {{ movie.year }}</h3>
                </div>
                <div class="span2 buttonAddFavorite">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary">
                            Actions</button>
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span><span class="sr-only">Actions</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a ng-click="addFavorite(movie)" href="#"><span class="glyphicon glyphicon-star"></span> Add to favorites</a></li>
                            <li><a target="_blank" href={{movie.links.alternate}}><span class="glyphicon glyphicon-plus"></span> More information about this movie</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<script type="text/javascript" src="Js/jquery.min.js"></script>
    <script type="text/javascript" src="Js/bootstrap.min.js"></script>
    <script src="Js/angular.min.js"></script>
	<script src="Js/angular-local-storage.js"></script>
	<script src="Js/jquery.noty.packaged.min.js"></script>
	<script src="Js/app.js"></script>
    <script src="Js/searchCtrl.js"></script>
    <script src="Js/myMovieSvc.js"></script>
	<script src="Js/generalService.js"></script>
</body>
</html>